* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.screen-h {
    height: 100%;

}